{% extends "base_1.html" %}
{% load static from staticfiles %}

{% block title %}OWD | Email Sent{% endblock %}

{% block css %}
<style type="text/css">
	p {
		padding-left: 20%;
		padding-right: 20%;
	}
</style>
{% endblock %}

{% block body_content %}
<div class="container">
	<h1>Check your inbox!</h1>
	<p>We've sent instructions to that email address on how to reset the password associated with it, if there's an account for that email. Follow the instructions in that email and you'll be able to login!
</div>

{% endblock %}