{% load activeurl %}

<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url "home" %}">OWD</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      {% activeurl %}
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Home</a></li> -->
        <li><a href="{% url "about" %}">About</a></li>
        <li><a href="{% url "projects" %}">Projects</a></li>
        <li><a href="{% url "blog" %}">Blog</a></li>
        <li><a href="{% url "forum" %}">Forum</a></li>
        <li><a href="{% url "contact" %}">Contact</a></li>
      </ul>
      {% endactiveurl %}
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="#">Logged in as {{ user.username }}</a></li>
        <li><a href="{% url "logout" %}">Logout</a></li>

        {% else %}
        <li><a href="{% url "login" %}">Login</a></li>
        <li><a href="#">Sign Up</a></li>
        {% endif %}
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar -->